---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Home</h1>
  <Greeting
    client:load
    messages={['Hello', 'Hi', 'Hey', 'Greetings', 'Salutations', 'Welcome']}
  />
</BaseLayout>
